<%- include('./partials/header.ejs') %>

<body>
    <nav>
        <%- include('./partials/pages.ejs') %>
    </nav>
    <h2 class="header">Update Course</h2>
    <div class="update-course content">
        <label for="title">Course Name:</label>
        <input type="text" id="name" name="name" value="<%= course.name %>" required>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" value="<%= course.subject %>" required>
        <label for="description">Course Description:</label>
        <input type="text" id="description" name="description" value="<%= course.description %>" required>
        <label for="body">Course Teacher:</label>
        <input type="text" id="teacher" name="teacher" value="<%= course.teacher %>" required>
        <label for="body">Number Of Credits:</label>
        <input type="text" id="credits" name="credits" value="<%= course.credits %>" required>
        <!-- <button class="update-course">Update</button> -->
        <button class="update-course" data-doc="<%= course._id %>">Update</button>
    </div>
    <button class="delete-course" data-doc="<%= course._id %>">Delete</button>

    <script>
        const update = document.querySelector('button.update-course')
        // const test = document.getElementById(name)

        update.addEventListener('click', (e) => {
            const endpoint = `/courses/${trashcan.dataset.doc}`;
            const requestOptions = {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: "user"
                })
            };

            fetch(endpoint, requestOptions)
                .then((response) => response.json())
                .then((data) => console.log(data))
                .catch(err => console.log(err));
        })
    </script>

    <script>
        const trashcan = document.querySelector('button.delete-course')

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/courses/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err));
        })
    </script>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>

</html>