<%- include('./partials/header.ejs') %>

<body>
  <nav>
      <%- include('./partials/pages.ejs') %>
  </nav>
  <h2 class="header">Schedule</h2>
  <div class="cart-dropdown">
    <% if (schedules.length > 0) { %>
        <% schedules.forEach((cart, index) => { %>
          <div class="accordion-item-<%= index %> ">
            <h2 class="accordion-header" id="shopping-cart">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#schedules-<%= index %>">
                <h3 class="name"><%= schedules.name %></h3>
              </button>
            </h2>
            <div id="schedule-<%= index %>" class="accordion-collapse collapse" data-bs-parent="#courses">
              <div class="accordion-body">
                <p class="description">Description: <%= schedule.description %></p>
                <p class="teacher">Teacher: <%= schedule.teacher %></p>
                <p class="credits">Credits: <%= schedule.credits %></p>
                <button class="delete" data-doc="<%= schedule._id %>">Delete</button>
            
              </div>
            </div>
          </div>
                <% }) %>
            <% } else { %>
                <p>The cart is empty.</p>
            <% } %>
            <br>
            <button type="submit" onclick="location.href='/checkout';">Go to Checkout</button>
            

</body>
<script>
    const trashcan = document.querySelector('button.delete')

    trashcan.addEventListener('click', (e) =>{
      const endpoint = `/schedule/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE'
      })
      .then((response) => response.json())
      .then((data) => window.location.href = data.redirect)
      .catch(err => console.log(err));
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
